@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/* BebasNeue */
@font-face {
  font-family: 'BebasNeue Bold';
  src: url('./font/bebas-neue/BebasNeue Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Book';
  src: url('./font/bebas-neue/BebasNeue Book.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Light';
  src: url('./font/bebas-neue/BebasNeue Light.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Regular';
  src: url('./font/bebas-neue/BebasNeue Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BebasNeue Thin';
  src: url('./font/bebas-neue/BebasNeue Thin.ttf') format('truetype');
}

/* font NuonMatthew */
@font-face {
  font-family: "Nuon Matthew";
  src: url("./font/nuon-matthew/NuonMatthew-Bold.eot") format("embedded-opentype"), url("./font/nuon-matthew/NuonMatthew-Bold.woff2") format("woff2"), url("./font/nuon-matthew/NuonMatthew-Bold.woff") format("woff"), url("./font/nuon-matthew/NuonMatthew-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

body {
  background-color: #ffbc00;
  color: #3f1b52;
  font-family: "Nuon Matthew", sans-serif;
  line-height: 1.42857143;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

/* set landscape bg */
.App {
  background-image: url(./bg-l.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  width: 220px;
  height: auto;
  background-color: white;
  margin: 40px auto 0;
  -webkit-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.App-logo:hover {
  -webkit-box-shadow: 0 0 40px white;
          box-shadow: 0 0 40px white;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.App-logo.smaller {
  width: 170px;
  height: auto;
}

.App-container {
  background-color: transparent;
  align-items: center;
  justify-content: center;
  max-width: 670px;
  flex: 1 0 auto;
  padding: var( — space) var( — space) 0;
  width: 100%;
}
.App-container:after {
  content: ‘\00a0’;
  display: block;
  margin-top: var( — space);
  height: 0;
  visibility: hidden;
}

h1 {
  font-size: 52px;
  font-family: 'Nuon Matthew';
}
h1.form-step {
  font-size: 32px;
  margin-bottom: 40px;
}

.form-next-btn {
  margin: 30px 0 70px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h5.myblue-text {
  color: #61a3d8;
}

p {
  margin: 0 0 10px;
}
p.p-pages {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.App-link {
  color: #712e88;
}

.btn {
  background-color: white;
  height: 70px;
  line-height: 65px;
  color: #712e88;
  padding: 0 20px;
  width: 70%;
  border-radius: 10px;
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: inherit;
  text-transform: inherit !important;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
.btn.btn-start {
  margin: 30px 0 70px;
}
.btn.btn-start:hover {
  background-color: #3f1b52;
  color: white;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
}
.sub-btn {
  margin: 20px 0;
  font-size: 1.5rem;
  background-color: #3f1b52;
}
.sub-btn i {
  vertical-align: middle;
  margin-left: 10px;
}
.btn.sub-btn .fa {
  font-size: 1rem;
}

#footer {
  background-color: #3f1b52;
  height: 70px;
  width: 100%;
  bottom: 0;
}
#footer .container {
  margin: auto;
  max-width: 670px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .99rem 0;
  box-shadow: none;
}
.navbar-toggler {
  cursor: pointer;
  width: 60px;
  font-size: 1.75rem;
  color: #fff;
}
.navbar-collapse {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #3f1b52;
}
.navbar-close {
  background: transparent;
  border: none;
  padding: 0 !important;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}
ul.navbar-nav {
  margin-bottom: 10px;
}
ul.navbar-nav li.nav-item a {
  color: #fff;
}
ul.navbar-nav li.nav-item a:hover {
  color: #fff;
  opacity: 0.7;
}

.logo-nuon {
  display: block;
  width: 100px;
  margin: -20px 10px 0 0;
}
.logo-nuon img {
  width: 100%;
  height: auto;
}

/* Pages */
#luisteren-geeft-energie {
  /* The image used */
  background-image: url("./img/background/we-waarderen-onze-klanten-nuon.jpg");
  background-size: cover; 
  margin: 40px auto;
}
#over-nuon {
  /* The image used */
  background-image: url("./img/background/over-nuon.jpg");
  background-size: cover; 
  margin: 40px auto;
}

/* Start page */
.lightbox-background {
  display: inline-block;
  width: 24%;
}

/* Form radio images */
.image-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}
.img1{background-image:url(./img/background/bg-1.jpg);}
.img2{background-image:url(./img/background/bg-2.jpg);}
.img3{background-image:url(./img/background/bg-3.jpg);}
.image-selector input:active +.image-cc{opacity: .4;}
.image-selector input:checked +.image-cc{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}
.image-selector label {
  margin: .5rem;
}
.image-cc{
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 190px;
  height: 190px;
  border: 4px solid purple;
  -webkit-transition: all 100ms ease-in;
     -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
  -webkit-filter: brightness(1.1) grayscale(2) opacity(.9);
     -moz-filter: brightness(1.1) grayscale(2) opacity(.9);
          filter: brightness(1.1) grayscale(2) opacity(.9);
}
.image-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
     -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
          filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.lightboard-line {
  text-transform: uppercase;
  text-align: center;
  font-size: 59px;
  font-weight: bold;
  border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
  border-top: 5px solid #3f1b52;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Bebas Neue", sans-serif;
  padding-top: 2px;
  height: 80px;
  line-height: 80px;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.form-control:focus {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.lightboard-line-3 {
  border-bottom: 5px solid #3f1b52;
}
.counter {
  position: absolute;
  font-size: 20px;
}
.counter.counter-1,
.counter.counter-2 {
  margin-top: -26px;
  right: 18px;
}
.counter.counter-3 {
  margin-top: -31px;
  right: 18px;
}
.custom-select.is-valid:focus, 
.form-control.is-valid:focus, 
.was-validated .custom-select:valid:focus, 
.was-validated .form-control:valid:focus,
.was-validated .form-control:invalid,
.was-validated .form-control:valid {
  border-color: #712e88 !important;
}
.invalid-feedback.alert {
  color: #fff;
  background-color: rgba(220,53,69,.9);
  border-radius: .25rem;
}
.btn.form-next-btn,
.btn.form-prev-btn {
  background-color: white !important;
  height: 70px;
  line-height: 65px;
  color: #712e88 !important;
  padding: 0 20px;
  width: 70%;
  border-radius: 10px;
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: inherit;
  text-transform: inherit !important;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
.btn.form-next-btn:hover,
.btn.form-prev-btn:hover {
  background-color: #3f1b52 !important;
  color: white !important;
  -webkit-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
}

.share-btns {
  margin: 30px 0 70px;
}
.share-btns button.btn.btn-lg {
  width: 100px;
  height: 100px;
  padding: 0 !important;
  vertical-align: top;
  border-radius: 100% !important;
  background-color: #3f1b52 !important;
}
.share-btns button.btn.btn-lg i {
  vertical-align: top;
  font-size: 2rem;
  margin-top: 15px;
}

/* Generated image */
#result img {
  max-width: 100%;
  height: auto;
}
#canvas-preview {
  text-align: center;
  overflow: hidden;
  margin-bottom: -60px;
}
#canvas-preview img,
#canvas-preview canvas {
  width: 119% !important;
  height: auto !important;
}


@media screen and (max-width: 767px) {
}

@media (min-width: 768px) {
  App.container {
    width: 750px;
  }
}

@media screen and (max-width: 670px) {
  body {
    font-size: 23px;
  }
  h1 {
    font-size: 33px;
  }
  /* set portrait bg */
  .App {
    background-image: url(./bg-p.png);
  }
  .App-logo {
    margin: 30px auto 0;
  }
  .App-logo.smaller {
    width: 100px;
    height: auto;
  }
  .btn,
  .btn.form-next-btn {
    height: 55px;
    line-height: 53px;
  }
  .lightboard-line {
    width: 100%;
  }
  .counter {
    font-size: 15px;
  }
  .counter.counter-1,
  .counter.counter-2 {
    margin-top: -22px;
    right: 20px;
  }
  .counter.counter-3 {
    margin-top: -27px;
    right: 20px;
  }
  .share-btns button.btn.btn-lg {
    width: 60px;
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    margin: 0 4px;
  }
  .sub-btn {
    font-size: 1.0rem;
    width: 90%;
    padding: 0;
  }
  .sub-btn i {
    margin-left: 5px;
  }
  .btn.btn.sub-btn .fa {
    font-size: 0.6rem;
  } 
}


/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Bg-fade-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}